{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'style/style.css' %}">
<script defer src="{% static 'js/sendRequest.js' %}"></script>
<!--Page content-->
<div class="container detail">
    <div class="row">
        <div class="col-7 col-lg-8">
            <h1 class="mt-4">{{ food.title }}</h1>
            <p style="float: left;">작성자: {{ food.author }}({{food.author.user}})</p>
            <p style="float: right;">마지막 게시일: {{ food.pub_date }}</p>
            <img class="img-fluid rounded" src="{{ food.image.url }}" alt="photo">
            <hr>
            <!--post content-->
            <blockquote class="blockqute">
                <p class="lead">{{ food.description }}</p>
            </blockquote>
            <hr>
            <h4> 예약금액(1인 기준): <span id="foodPrice">{{ food.price }}</span>원 </h4>
            <p>{{ food.body }}</p>
            <hr>
            <p>주소: {{food.address}}</p>
        </div>

        <!--sideBar widgets column-->
        <div class="col-5 col-lg-4">
            <!--side widget-->
            {% if user.is_authenticated %}
            <div class="card my-4">
                <h5 class="card-header">요청</h5>
                <div class="card-body">
                    <!-- add to cart -->
                    <form class="form-inline" id="reservation" method="POST"
                        action="{% url 'customerAddCart' food.id %}">
                        {% csrf_token %}
                        <input type="number" name="people" class="form-control" id="peopleSize"
                            placeholder="인원 수를 적어주세요" min=1 required autofocus value="1">
                        <input type="number" name="total_price" class="form-control" id="total_price" placeholder="총 금액"
                            readonly>
                        <input type="text" name="phoneNum" id="phoneNum" hidden>
                        <span id="pastCart" style="visibility: hidden;">{{past_cart}}</span>
                    </form>
                    <button id="requestBtn" class="btn btn-block">요청하기</button>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>

<!-- comment -->

<form method="POST" class="post-form" action="{% url 'addComments' food.id %}">
    {% csrf_token %}
    <button type="submit" id="review" class="save btn">후기 남기러가기</button>
</form>
<div class="room_for_comment comment">
    {% for comment in food.comments.all %}
    <strong></a>{{ comment.author }}</strong>
    <div class="date">작성일:{{ comment.created_date }}</div>
    <p>{{ comment.text|linebreaks }}</p>
    <hr>
    {% empty %}
    <p>등록된 후기가 없습니다.</p>
    {% endfor %}
</div>

{% endblock %}