{% extends 'base.html' %}
{% load static%}
{% load crispy_forms_tags %}
{% block content %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<!--new.html content -->
<div class="container edit">
    <div class="row">
        <div class="col-lg-3">
            <h4>게시글 수정하기</h4>
        </div>
        <div class="col-lg-9">
            <!--<div class="col container-fluid">-->
            <form method="POST" class="table" enctype="multipart/form-data">
                {% csrf_token %}
                {{form|crispy}}
                <input type="submit" class="btn btn-block" value="올리기">
            </form>
            <!--</div>-->
        </div>
    </div>
</div>

{% endblock %}