{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<!--new.html content -->
<div class="container">
    <div class="row new">
        <div class="col-lg-3">
            <h4>게시글 작성</h4>
            <div class="list-group">
                <a href="{% url 'writeNewPost' %}" class="list-group-item">게시글 작성</a>
                <a href="{% url 'viewMyPostList' %}" class="list-group-item">게시글 조회 및 관리</a>
            </div>
        </div>
        <div class="col-lg-9">
            <!--<div class="col container-fluid">-->
            <form enctype="multipart/form-data" method="POST" class="table" action="{% url 'writeNewPost' %}">
                {% csrf_token %}
                {{form|crispy}}
                <input type="submit" class="btn btn-lg btn-block" value="올리기">
            </form>
            <!--</div>-->
        </div>
    </div>
</div>
<style>
    .list-group {
        margin-top: 1rem;
    }

    .table {
        max-width: 100%;
        padding-left: 1rem;
        font-weight: bold;
    }

    h4 {
        margin-bottom: 2rem;
        font-weight: bold;
    }

    .col-lg-9 {
        margin-top: 1rem;
    }
    .new{
        padding: 3rem;
    }
    .btn{
        background-color: #ffeb33;
        font-size: medium;
        margin-top: 2rem;
    }
</style>

{% endblock %}