{% extends 'base.html' %}

{% load socialaccount %}
{% providers_media_js %}

{% block content %}

<style>
  .message {
    text-align: center;
    color: red;
    margin-bottom: 50px;
  }

  #kakao-login-btn {
    background-color: #fee100;
  }

  .bg-img {
    background-image: url('https://cdn.pixabay.com/photo/2019/03/14/22/06/seat-4056023_960_720.jpg');
    min-height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .container-form {
    position: absolute;
    right: 0;
    margin: 40px;
    max-width: 300px;
    padding: 16px;
    background-color: white;
  }

  input[type=text],
  input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }

  input[type=text]:focus,
  input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

  .btn {
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }

  #btn-1 {
    background-color: #4e9a9a;
  }

  #kakao-btn {
    background-color: #fee100;
  }

  #btn-reg {
    background-color: black;
  }

  p{
    text-align: center;
  }
</style>

{% if error %}
<br>
<div role="alert" class="message">
  {{error}}
</div>
{% endif %}


<div class="bg-img">
  <form action="{% url 'login' %}" method="POST" class="container-form">
    {% csrf_token %}
    <h2>Login</h2>
   
    <input class="id" type="text" name="username" placeholder="아이디를 입력하세요" required>
   
    <input type="password" name="password" placeholder="비밀번호를 입력하세요" required>
    <input class="btn" id="btn-1" type="submit" value="매장계정으로 로그인">
    <hr>
    <p><strong>일반 고객이시라면</strong></p>
    <a class="btn" id="kakao-btn" href="{% provider_login_url 'kakao' %}">
      카카오로 로그인
    </a>
  </form>
</div>
<div class="bottom-container">
  <a href="{% url 'signup' %}" style="color:white" class="btn" id="btn-reg">매장을 등록하고 싶으신가요?</a>
</div>

{% endblock %}