{% extends 'base.html' %}

{% load socialaccount %}
{% providers_media_js %}

{% block content %}

{% if error %}
{{ error }}
<br>
<br>
{% endif %}
<link rel="stylesheet" href="./style.css">

<div class="container-login">
  <form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    <div class="row-login">
      <div class="ex">
        <h2>로그인 후 사용 가능합니다.</h2>
        <p>고객으로 사용하실 분들은 카카오로그인을 이용해주세요. 매장으로 사용하실 분들은 일반 로그인을 이용해주세요.</p>
      </div>


      <div class="col-login">
        <a class="sb" id="kakao-login-btn" href="{% provider_login_url 'kakao' %}">
          카카오로 로그인하기
        </a>
      </div>

      <div class="col-login">
        <div class="hide-md-lg">
          <p>매장 로그인:</p>
        </div>

        <input class="id" type="text" name="username" placeholder="아이디" required>
        <input class="pw" type="password" name="password" placeholder="비밀번호" required>
        <input class="done" type="submit" value="확인">
      </div>

    </div>
  </form>
</div>

<div class="bottom-container">
  <a href="{% url 'signup' %}" style="color:white" class="btn">매장을 등록하고 싶으신가요?</a>
</div>











<!-- <form class="form-signin" action=" url 'login' " method="POST">
    {% csrf_token %}
    <h1 class="h3 mb-3 font-weight-normal">매장용</h1>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
      매장용 로그인 -->
<!-- </button> -->
<!-- The Modal -->
<!-- <div class="modal fade" id="myModal">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content"> -->

<!-- Modal Header -->
<!-- <div class="modal-header">
            <h4 class="modal-title">매장용 로그인</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <div class="modal-body">
            <label for="username" class="sr-only">ID</label>
            <input type="text" name="username" class="form-control" placeholder="ID" required autofocus>
            <label for="password" class="sr-only">Password</label>
            <input type="password" name="password" class="form-control" placeholder="Password" required>
            <div class="checkbox mb-2"> -->
<!-- <label>
                <input type="checkbox" value="remember-me"> Remember me
              </label> -->
<!-- </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">로그인</button>
          </div> -->

<!-- Modal footer -->
<!-- <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>

  </form>
</div> -->
{% endblock %}