{% extends 'base.html' %}
{% block content %}

내가 쓴 글
<div class="container">
    {% for mypost in mypost_list %}
    <section class="row align-items-center my-5">
        <div class="col-lg-7">
            {% if mypost.image %}
            <a href="{% url 'detail' mypost.id %}">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="{{ mypost.image.url }}" alt="photo">
            </a>
            {% endif %}
        </div>
        <div class="col-lg-5">
            <h2 class="font-weight-bold">{{ mypost.title }}</h2>
            <p>{{ mypost.description }}<br>(후기: {{mypost.approved_comments.count}}개)</p>
            <p>{{ mypost.price }}원</p>
            <a href="{% url 'detail' mypost.id  %}" class="btn btn-primary">더보기</a>
        </div>
    </section>
    <hr>
    {% endfor %}

</div>

{% endfor %}

{% endblock %}