{% extends 'base.html' %}
{% block content %}

{% load staticfiles %}

profile.html

<style>
    .round {
        border-radius: 50%;
    }
</style>
<h1>나의 계정</h1>
{{ user.profile.user }}
{{ user.profile.nickname }}
{{ user.profile.address }}
{{ user.profile.bizNumber }}
<form action="(% url 'user_delete' %)" id="delete">
    {% csrf_token %}
    <input type="button" onclick="confrm()" value="탈퇴하기">
    <script>
        form = document.getElementById('delete')

        function confrm() {
            var resuly = confirm("정말로 탈퇴하시겠습니까?")
            if (result) {
                alert("탈퇴가 완료되었습니다.")
                form.submit()
            }
        }
    </script>
</form>
<div class="col-xs-6 col-md-3">
    <!-- {% if profile.nickname %} -->
    <h2>{{ user.profile.username }}님의 Profile</h2>
    <h2>{{ profile.user }}님의 profile</h2>
    <!-- {% endif %} -->
    <!-- {% if profile == profile.id %} -->
    <!-- 로그인한 사용자와 profile_user(프로필 소유자)가 일치할 때만 프로필 편집이 가능하도록 함 -->
    <a href="{% url 'update' %}">계정수정하기</a></h2>
   
    <h3>
        {{ user.profile.username }}
        {{ profile.user }}
        <br>
        {{ user.profile.fist_name }}
        {{ profile.nickname }}
        <br>
        <!-- {% endif %} -->
    </h3>
</div>
</div>

{% endblock %}