{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'images/for_accounts.css' %}">  

{% if error %}
<br>
<br>
{{ error }}
<br>
<br>
{% endif %}

<div class="profile">
    <h2 style="text-align: center">My Profile</h2>
    <div class="card">
        <img src="https://cdn.pixabay.com/photo/2017/01/31/09/30/raspberry-2023404_960_720.jpg" alt="plain_photo"
            style="width: 100%">
        <h1 class="title">{{ user.profile.nickname}}</h1>
        <p>궁동예약 입점 완료</p>
        <p><a href="{% url 'profile_detail' %}" class="btn btn-5">자세히보기</a></p>
    </div>
</div>

{% endblock %}