{% extends 'base.html' %}
{% block content %}
<!-- {% load crispy_forms_tags %} -->

{% if error %}
<br>
{{ error }}
<br>
{% endif%}

<div class="container">
  <h1>매장을 등록하고 싶으신가요?</h1>
  <p>궁동예약에 등록하는 절차는 그리 어렵지 않습니다. 고객분들께 보다 빠르고 편하게 서비스를 제공하고, 보다 쉽게 궁동예약이 주는 편리함을 누려보세요.<br>
    <strong>※주의사항: 고객분들은 가입할 수 없습니다. 고객으로 사용하고 싶은 분들은 카카오톡 로그인을 이용해주세요.※</strong></p>
  <hr>
  <form action="{% url 'signup' %}" method="POST">

    {% csrf_token %}
    <label for="username"><b>아이디</b></label>
    <input type="text" name="username" required>

    <label for="nickname"><b>닉네임</b></label>
    <input type="text" placeholder="어떤 식당인지 잘 느껴지도록 작명하는것을 추천합니다." name="nickname" required>

    <label for="password1"><b>비밀번호</b></label>
    <input type="password" placeholder="Enter Password" name="password1" required>

    <label for="password2"><b>비밀번호 확인</b></label>
    <input type="password" placeholder="Repeat Password" name="password2" required>

    <label for="first_name"><b>이름</b></label>
    <input type="text" name="first_name" >

    <label for="last_name"><b>성</b></label>
    <input type="text" name="last_name" >

    <label for="address"><b>주소</b></label>
    <input type="text" name="address" required>

    <label for="bizNumber"><b>사업자등록번호</b></label>
    <input type="text" placeholder="정확히 기입해 주세요." name="bizNumber" required>

    <div class="clearfix">
      <input type="submit" class="btn btn-primary btn-lg btn-block" value="가입하기">
    </div>
  </form>
</div>


<style>
  input[type=text],
  input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

  input[type=text]:focus,
  input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }

  input[type=submit]:hover {
    opacity: 1;
  }
</style>

{% endblock %}