{% extends 'base.html' %}
{% block content %}
<!-- 멋사 강의(폼태그 안쓰고 장고로 넘기는거)참고하기 -->
{% if error %}
<br>
{{ error }}
<br>
{% endif %}


cart.html
<br>
인원 | {{ cart.people }}
<br>
총 금액 | {{ cart.total_price }}
<br>
보낸이 | {{ cart.sender }}
<br>
받는이 | {{ cart.reciever }}

<!-- 

<div class="card my-4">
    <h5 class="card-header">요청 하기</h5>
    <div class="card-body">-->
        <!-- add to cart -->
        <!--<form class="form-inline" method="POST" action="">
            {% csrf_token %}-->
            <!-- <button type="submit" class="save btn btn-default" data-toggle="modal"
                    data-target="#cart">장바구니</button>-->
            <!-- modal -->
            <!-- <div class="modal fade" id="cart">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content"> -->

            <!-- modal header -->
            <!-- <div class="modal-header">
                                <h4 class="modal-title">"{{ food.title }}" 장바구니</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div> -->

            
                <!--<input type="number" name="people" id="people" placeholder="인원 수를 적어주세요" min=1 required autofocus>
                <input type="number" name="total_price" id="total_price" placeholder="총 금액" readonly>
    
            <button class="btn btn-lg btn-primary btn-block" type="submit">SEND</button>
        
            <script>
                let total_price_input = document.getElementById('total_price')
                let people = document.getElementById('people')
                // console.log(total_price_input)
                // console.log(people)
                let limit = {
                    {
                        food.price
                    }
                }
                people.addEventListener('change', () => {
                    cal()
                })

                function cal() {
                    total_price = people.value * limit
                    total_price_input.value = total_price
                }
            </script>
        </form>
    </div>
</div> -->

{% endblock %}