{% extends 'base.html' %}

{% block content %}

<style>
    #cmt-none {
        cursor: unset;
    }
</style>

<!--Bootstrap core CSS-->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!--Page content-->
<div class="container">
    <div class="row">
        <!--Post content column-->
        <!-- 글쓴이만 보이도록 설정하기 -->
        <div class="col-lg-8">
            <a class="btn btn-default" href="{% url 'edit' food.id %}">수정하기</a>
            <input type="button" onclick="confrm()" value="삭제하기">
            <form action="{% url 'delete' food.id %}" id="food-delete" method="POST">
                {% csrf_token %}
            </form>
            <script>
                form = doucment.getElementById('food-delete')

                function confrm() {
                    var result = confirm("정말로 삭제하시겠습니까?")
                    if (result) {
                        alert('삭제되었습니다.')
                        form.submit()
                    }
                }
            </script>
            <!--title-->
            <h1 class="mt-4">{{ food.title }}</h1>
            <!--date/time, author-->
            <p>작성자: {{ food.author }}
            </p>
            <p>마지막 게시일: {{ food.pub_date }}</p>
            <hr>
            <!--image-->
            <img class="img-fluid rounded" src="{{ food.image.url }}" alt="photo">
            <hr>
            <!--post content-->
            <blockquote class="blockqute">
                <p class="lead">{{ food.description }}</p>
            </blockquote>
            <hr>
            <h4> 최소요청금액(1인 기준): {{ food.price }}원 </h4>
            <p>{{ food.body }}</p>
            <hr>

            <!--sideBar widgets column-->
            <div class="col-md-4">
                <!-- Search Widget -->
                <div class="card my-4">
                    <h5 class="card-header">다른식당 검색</h5>
                    <div class="card-body">
                        <div class="input-group">
                            <input type="text" class="form-control" id="mini-search" name="search_word"
                                placeholder="Search for...">
                        </div>
                    </div>
                </div>
                <script>
                    let input = document.getElementById('mini-search')
                    input.addEventListener('keydown', (e) => {
                        if (e.keyCode == 13) {
                            if (input.value == '') {
                                alert('검색어를 입력해주세요.')
                            } else {
                                location.href = `/search/?searchkeyword=${input.value}`
                            }
                        }
                    })
                </script>

                <!--side widget-->
                <div class="card my-4">
                    <h5 class="card-header">요청</h5>
                    <div class="card-body">
                        <!-- add to cart -->
                        <form class="form-inline" method="POST" action="{% url 'cart' food.id %}">
                            {% csrf_token %}
                            <input type="number" name="people" id="people" placeholder="인원 수를 적어주세요" min=1 required
                                autofocus>
                            <input type="number" name="total_price" id="total_price" placeholder="총 금액" readonly>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">SEND</button>
                            <script>
                                let total_price_input = document.getElementById('total_price')
                                let people = document.getElementById('people')
                                // console.log(total_price_input)
                                // console.log(people)
                                let limit = {{ food.price }}
                                people.addEventListener('change', () => {
                                    cal()
                                })

                                function cal() {
                                    total_price = people.value * limit
                                    total_price_input.value = total_price
                                }
                            </script>
                        </form>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- comment -->
<form method="POST" class="post-form" action="{% url 'comment' food_id=food.id %}">
    {% csrf_token %}
    <button type="submit" class="save btn btn-default">후기남기러가기</button>
</form>
<hr>
{% for comment in food.comments.all %}
<div class="comment">
    <div class="date">{{ comment.created_date }}</div>
    <strong></a> {{ comment.author }}</strong>
    <p>{{ comment.text|linebreaks }}</p>
</div>
{% empty %}
<p>No comments here yet :(</p>
{% endfor %}

{% endblock %}