{% extends 'base.html' %}

{% block content %}

<style>
    #cmt-none {
        cursor: unset;
    }

    #people,
    #total_price {
        margin-bottom: 10px;
        width: 100%;
    }

    .room_for_comment {
        background-color: whitesmoke;
        margin-top: 20px;
    }
    .comment{
        padding:20px;
    }
</style>

<!--Bootstrap core CSS-->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!--Page content-->
<div class="container">
    <div class="row">
        <div class="col-7 col-lg-8">
            <!--title-->
            <h1 class="mt-4">{{ food.title }}</h1>
            <!--date/time, author-->
            <p>작성자: {{ food.author }}
            </p>
            <p>마지막 게시일: {{ food.pub_date }}</p>
            <!--image-->
            <img class="img-fluid rounded" src="{{ food.image.url }}" alt="photo">
            <hr>
            <!--post content-->
            <blockquote class="blockqute">
                <p class="lead">{{ food.description }}</p>
            </blockquote>
            <hr>
            <h4> 최소요청금액(1인 기준): {{ food.price }}원 </h4>
            <p>{{ food.body }}</p>
            <hr>
            <p>주소: {{food.author.address}}</p>
        </div>

        <!--sideBar widgets column-->
        <div class="col-5 col-lg-4">
            <!-- Search Widget -->
            <div class="card my-4">
                <h5 class="card-header">다른식당 검색</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" id="mini-search" name="search_word"
                            placeholder="Search for...">
                    </div>
                </div>
            </div>
            <script>
                let input = document.getElementById('mini-search')
                input.addEventListener('keydown', (e) => {
                    if (e.keyCode == 13) {
                        if (input.value == '') {
                            alert('검색어를 입력해주세요.')
                        } else {
                            location.href = `/search/?searchkeyword=${input.value}`
                        }
                    }
                })
            </script>
            <!--side widget-->
            <div class="card my-4">
                <h5 class="card-header">요청</h5>
                <div class="card-body">
                    <!-- add to cart -->
                    <form class="form-inline" method="POST" action="{% url 'cart' food.id %}">
                        {% csrf_token %}
                        <input type="number" name="people" class="form-control" id="people" placeholder="인원 수를 적어주세요"
                            min=1 required autofocus>
                        <input type="number" name="total_price" class="form-control" id="total_price" placeholder="총 금액"
                            readonly>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">요청하기</button>
                        <script>
                            let total_price_input = document.getElementById('total_price')
                            let people = document.getElementById('people')
                            // console.log(total_price_input)
                            // console.log(people)
                            let limit = {{food.price}}
                            people.addEventListener('change', () => {
                                cal()
                            })

                            function cal() {
                                total_price = people.value * limit
                                total_price_input.value = total_price
                            }
                        </script>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- comment -->

<form method="POST" class="post-form" action="{% url 'comment' food_id=food.id %}">
    {% csrf_token %}
    <button type="submit" id="review" class="save btn btn-primary">후기 남기러가기</button>
</form>
<div class="room_for_comment comment">
    {% for comment in food.comments.all %}
    <strong></a>{{ comment.author }}</strong>
    <div class="date">작성일:{{ comment.created_date }}</div>
    <p>{{ comment.text|linebreaks }}</p>
    <hr>
    {% empty %}
    <p>등록된 후기가 없습니다.</p>
    {% endfor %}
</div>


{% endblock %}