{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block content %}

<style>
    .list-group {
        margin-top: 1rem;
    }

    .table {
        max-width: 100%;
        padding-left: 1rem;
        font-weight: bold;
    }

    h4 {
        margin-bottom: 2rem;
        font-weight: bold;
    }

    .col-lg-9 {
        margin-top: 1rem;
    }
</style>
<!--new.html content -->
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <h4>게시글 수정하기</h4>
        </div>
        <div class="col-lg-9">
            <!--<div class="col container-fluid">-->
            <form method="POST" class="table">
                {% csrf_token %}
                {{form|crispy}}
                <input type="submit" class="btn btn-primary btn-lg btn-block" value="올리기">
            </form>
            <!--</div>-->
        </div>
    </div>
</div>

{% endblock %}