{% extends 'base.html' %}
{% block content %}
{% load static%}

<style>
    .guide img {
        margin-top: 3rem;
        width:100%;
        padding: 2rem;
        border: 1px solid black;
    }
</style>

<div class="guide">

    <img src="{%static "슬라이드1.PNG" %}" alt="슬라이드1">
    <img src="{%static "슬라이드2.PNG" %}" alt="슬라이드2">
    <img src="{%static "슬라이드3.PNG" %}" alt="슬라이드3">
    <img src="{%static "슬라이드4.PNG" %}" alt="슬라이드4">
    <img src="{%static "슬라이드5.PNG" %}" alt="슬라이드5">
    <img src="{%static "슬라이드6.PNG" %}" alt="슬라이드6">
    <img src="{%static "슬라이드7.PNG" %}" alt="슬라이드7">
    <img src="{%static "슬라이드8.PNG" %}" alt="슬라이드8">
    <img src="{%static "슬라이드9.PNG" %}" alt="슬라이드9">
    <img src="{%static "슬라이드10.PNG" %}" alt="슬라이드10">
    <img src="{%static "슬라이드11.PNG" %}" alt="슬라이드11">
    <img src="{%static "슬라이드12.PNG" %}" alt="슬라이드12">
    <img src="{%static "슬라이드13.PNG" %}" alt="슬라이드13">
    <img src="{%static "슬라이드14.PNG" %}" alt="슬라이드14">
    <img src="{%static "슬라이드15.PNG" %}" alt="슬라이드15">
    <img src="{%static "슬라이드16.PNG" %}" alt="슬라이드16">
    <img src="{%static "슬라이드17.PNG" %}" alt="슬라이드17">
    <img src="{%static "슬라이드18.PNG" %}" alt="슬라이드18">
    <img src="{%static "슬라이드19.PNG" %}" alt="슬라이드19">
    <img src="{%static "슬라이드20.PNG" %}" alt="슬라이드20">
    <img src="{%static "슬라이드21.PNG" %}" alt="슬라이드21">
    <img src="{%static "슬라이드22.PNG" %}" alt="슬라이드22">
    <img src="{%static "슬라이드23.PNG" %}" alt="슬라이드23">
    <img src="{%static "슬라이드24.PNG" %}" alt="슬라이드24">
    <img src="{%static "슬라이드25.PNG" %}" alt="슬라이드25">

</div>




{% endblock %}