{% extends 'base.html' %}
{% load static%}
{% block content %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<script>
  let Notification = window.Notification || window.mozNotification || window.webkitNotification;
  Notification.requestPermission((permission) => {
    console.log(permission)
  })
  if (typeof (EventSource) !== "undefined") {
    var source = new EventSource("stream/");
    source.onmessage = function (event) {
      if (event.data == "hi") {
        new Notification(
          "메세지 알림", {
            body: "요청이 도착했습니다."
          }
        )
      } else {
        console.log(event.data)
      }
    };
  } else {
    console.log("Sorry, your browser does not support server-sent events...");
  }
</script>

<main role="main">
  <section class="jumbotron text-center">
    <h1 class="jumbotron-heading font-weight-bold">궁동예약</h1>
    <p class="lead text-center">찾는 식당이 있나요? 바로 검색해보세요.</p>
    <p class="a">
      <input type="text" name="search_word" id="searchBar" placeholder="원하는 식당명을 검색하세요.">
      <a href="{% url 'search' %}?searchkeyword=한식">한식</a>
      <a href="{% url 'search' %}?searchkeyword=일식">일식</a>
      <a href="{% url 'search' %}?searchkeyword=양식">양식</a>
      <a href="{% url 'search' %}?searchkeyword=닭갈비">닭갈비</a>
      <a href="{% url 'search' %}?searchkeyword=떡볶이">떡볶이</a>
      <a href="{% url 'search' %}?searchkeyword=돈까스">돈까스</a>
      <a href="{% url 'search' %}?searchkeyword=고기">고기구이</a>
      <script>
        let input = document.getElementById('searchBar')
        input.addEventListener('keydown', (e) => {
          if (e.keyCode == 13) {
            if (input.value == '') {
              alert('검색어를 입력해주세요.')
            } else {
              location.href = `/search/?searchkeyword=${input.value}`
            }
          }
        })
      </script>
    </p>
  </section>

  <section>
    <h3 class="food font-weight-bold">궁동에 위치한 맛집을 찾아보세요</h3>
    <hr>
    {% for food in posts %}
    <div class="row my-5 align-items-center">
      <div class="col-lg-7">
        {% if food.image %}
        <a href="{% url 'detail' food.id %}">
          <img class="img-fluid rounded mb-4 mb-lg-0" src="{{ food.image.url }}" alt="photo">
        </a>
        {% endif %}
      </div>
      <div class="col-lg-5">
        <h2 class="font-weight-bold">{{ food.title }}</h2>
        <p>{{ food.description }}<br>(후기: {{food.comments.count}}개)</p>
        <p>최소요청금액: {{ food.price }}원</p>
        <a href="{% url 'detail' food.id  %}" class="btn btn-to-detail">더보기</a>
      </div>
    </div>
    <hr>
  </section>
  {% endfor %}

  <!-- Pagination -->
  <ul class="pagination justify-content-center">
    {% if posts.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{posts.previous_page_number}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    {% endif %}
    <li class="page-item">
      <a class="page-link" href="?page=1">1</a>
    </li>
    {% if posts.has_previous %}
    <li class="page-item">
      <a href="?page={{posts.number}}" class="page-link">{{posts.number}}</a>
    </li>
    {% endif %}
    {% if posts.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{posts.next_page_number}}">{{posts.next_page_number}}</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="?page={{posts.next_page_number}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
    {% endif %}
  </ul>
</main>

{% endblock %}