{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css'%}">
{% if error %}
<br>
{{ error }}
<br>
{% endif %}


<section class="manage">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        고객명: {{ customer.customer }}
        사유 : {{ customer.reason }}
        기타사유: {{ customer.others }}
        

        {{form|crispy}}

        <input type="submit" class="btn btn-block" name="reg" value="등록">
    </form>

    <a href="{% url 'customer_list' %}">customer_list</a>

</section>

{% endblock %}
<!-- <input type="text" name="sender" value="{{cus.customer}}" readonly> -->
<!-- <table>
            <tr>
                <th>고객이름</th>
                <th><input type="text" name="sender" value="{{cus.customer}}" readonly></th>
            </tr>
            <tr>
                <td>요청건</td>
                <td>{{cus.how_many2}}</td>
            </tr>
            <tr>
                <td>사유</td>
                <td>
                   {{form|crispy}}
                </td>
            </tr>
            <tr>
                <td>기타사유</td>
                <td><textarea name="others" id="" cols="30" rows="10"
                        placeholder="집중고객으로 등록하는 이유를 자세히 적어주세요."></textarea>
                </td>
            </tr>
        </table> -->

<!-- 고객이름:
    <input type="text" name="sender" value="{{customers.customer}}" readonly>
    <br>
    요청건: {{customers.how_many2}}<br>
    사유:
    <form action="url 'myCustomer'" method="POST">
        csrf_token -->
<!-- 등록을 누르면 사유가 바뀌게  -->
<!-- <select name="reason" id="reason">
        <option value="accept">승인</option>
        <option value="cancel">거절</option>
        <option value="no-show">노쇼</option>
        <option value="etc">etc</option>
    </select>
    <br>
    <textarea name="others" id="" cols="30" rows="10" placeholder="집중고객으로 등록하는 이유를 간단히 적어주세요."></textarea>
    <br> -->