{% extends 'base.html' %}
{% block content %}

요청내역
<div class="container">
    {% for requests in request_list %}
    <section class="row align-items-center my-5">
        <div class="col-lg-5">
            <form action="{% url 'checkplz' %}" method="POST">
                {% csrf_token %}
                <input type="text" name="cart_id" value="{{ requests.pk }}" readonly> <br>
                매장계정: <input type="text" name="receiver" value="{{ requests.receiver }}" readonly><br>
                요청인원: <input type="number" name="people" value="{{ requests.people }}" readonly><br>
                총금액: <input type="number" name="total_price" value="{{ requests.total_price }}" readonly>원 <br>
                식당명: <input type="text" name="title" value="{{ requests.title }}" readonly> <br>
                보낸이: <input type="text" name='sender', value="{{ requests.sender }}" readonly> <br>
                <input type="submit" value="결제하기">
            </form>
            <!-- <h2 class="font-weight-bold"> 받는이: {{ requests.reciever }}</h2>
            <p>요청인원:{{ requests.people }} </p>
            <p>총 금액:{{ requests.total_price }}원</p>
            <p>요청시간: {{ requests.request_date }}</p> -->
            <!-- <a href=" url 'detail' food.id  " class="btn btn-primary">더보기</a> -->
        </div>
    </section>
    <hr>
    {% endfor %}

</div>

{% endblock %}