.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

footer {
    margin-top: 5rem;
}

/* food app */
.list-group {
    margin-top: 1rem;
}

.table {
    max-width: 100%;
    padding-left: 1rem;
    font-weight: bold;
}

h4 {
    margin-bottom: 2rem;
    font-weight: bold;
}

.col-lg-9 {
    margin-top: 1rem;
}
