{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css'%}">
{% if error %}
<br>
{{ error }}
<br>
{% endif %}


<section class="container comment-pg">
    <div class="message">
        <h3>등록하신 고객의 정보입니다.</h3>
        <ul>
            <li>고객등록 당시 등록한 사유를 확인할 수 있습니다.</li>
            <li>내용을 수정하고 등록버튼을 누르시면, 수정된 내용으로 업데이트 됩니다.</li>
        </ul>
    </div>
    <!-- 수정사항내용 -->
    <form method="POST" enctype="multipart/form-data" id="register" action="{% url 'manage' customer.id %}">
        {% csrf_token %}
        <strong style="font-size: large; text-decoration: underline;">고객명: {{ customer.customer }}</strong>
        <div style="margin-top: 1rem;">
            {{ form|crispy }}
        </div>
        <input type="submit" class="btn btn-block" name="reg" value="등록">
    </form>
<!-- 수정사항내용 끝 -->
    <a href="{% url 'customer_list' %}" class="btn btn-deny" style="color:white; margin-top: 2rem;">목록으로 돌아가기</a>
</section>
<script>
        form = doucment.getElementById('register')
    
        function confrm() {
            var result = confirm("등록하시겠습니까?")
            if (result) {
                alert('등록되었습니다.')
                form.submit()
            }
        }
    </script>


{% endblock %}
